HUmantask_and_Attachements/AWebform_Documentam/FileUploadImplSoap12HttpPort_xsd_1_1.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xs:schema xmlns:tns="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
     targetNamespace="http://tempuri.org/">
    <xs:element name="FileUpload" type="tns:FileUpload"/>
    <xs:element name="FileUploadResponse" type="tns:FileUploadResponse"/>
    <xs:complexType name="FileUpload">
        <xs:sequence>
            <xs:element name="arg0" type="xs:string" minOccurs="0"/>
            <xs:element name="arg1" type="xs:string" minOccurs="0"/>
            <xs:element name="arg2" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileUploadResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
